<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flights</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm_theme_big-stone.min.css">
</head>
<body>
<main>
    <form action="#" method="post" th:action="@{/flight/view/createFlight}" th:object="${flightViewDto}">
        <div>
            <label for="flightNumber">Flight number</label>
            <input id="flightNumber" type="number"
                   th:field="*{flightNumber}">
            <p th:if="${#fields.hasErrors('flightNumber')}"
               th:text="${#strings.listJoin(#fields.errors('flightNumber'), ', ')}"></p>
        </div>
        <div>
            <label for="departureAirportIATACode">departure airport</label>
            <input id="departureAirportIATACode" type="text"
                   th:field="*{departureAirportIATACode}">
            <p th:if="${#fields.hasErrors('departureAirportIATACode')}"
               th:text="${#strings.listJoin(#fields.errors('departureAirportIATACode'), ', ')}"></p>
        </div>
        <div>
            <label for="arrivalAirportIATACode">arrival airport</label>
            <input id="arrivalAirportIATACode" type="text"
                   th:field="*{arrivalAirportIATACode}">
            <p th:if="${#fields.hasErrors('arrivalAirportIATACode')}"
               th:text="${#strings.listJoin(#fields.errors('arrivalAirportIATACode'), ', ')}"></p>
        </div>
        <div>
            <label for="departureDate">departure date</label>
            <input id="departureDate" type="datetime-local"
                   th:field="*{departureDate}">
            <p th:if="${#fields.hasErrors('departureDate')}"
               th:text="${#strings.listJoin(#fields.errors('departureDate'), ', ')}"></p>
        </div>
        <button type="submit">Create flight</button>
    </form>
</main>
</body>
</html>